.search_input{
    padding: 0.6em;
    height: 2.4em;
    border: none;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.3);
    outline: none;
    width: 45%;
}

.search_button{
    height: 2.4em;
    background-color: white;
    border: none;
    border-left: solid gray 1px;
    padding: 0.5em;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.3);
    cursor: pointer;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
}